<div class="container space-top">

<%= render 'layouts/navday' %>       

<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs"> 
  <ul id="myTabs" class="nav nav-tabs" role="tablist"> 
    <li role="presentation" class="active">
      <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">ALMOÇO</a>
    </li> 
    <li role="presentation" class="">
      <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">JANTAR</a>
      </li>  
   </ul> 
     <div id="myTabContent" class="tab-content"> 
       <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab"> 


        <div class="container custom" data-example-id="striped-table">
				<table class="table table-striped"> 
					<thead> 
						<tr> 
							<th></th>							
							<th>Segunda-Feira - 21/03/2016</th> 
						</tr> 
					</thead> 
					<tbody> 
						<tr> 
							<th scope="row">SALADA 1</th> 
							<td>SALADA DE FOLHAS</td> 
							
						</tr> 
						<tr> 
							
							<th scope="row">SALADA 2</th>  
							<td>TABULE</td> 
							 
						</tr> 
						<tr> 
							<th scope="row">ACOMPANHAMENTO1</th> 
							<td>ARROZ BRANCO</td> 							
						</tr>
						<tr>
							<th scope="row">ACOMPANHAMENTO2</th>
							 <td>FEIJÃO PRETO</td>
						</tr> 
						<tr>
							<th scope="row">ACOMPANHAMENTO3</th>
							<td>ARROZ INTEGRAL</td> 
						</tr> 
						<tr>
							<th scope="row">GUARNIÇÃO</th>
							<td>FAROFA</td> 
						</tr> 
						<tr>
							<th scope="row">PROTEÍNA1</th>
							<td>LINGUIÇA TOSCANA</td> 
						</tr> 
						<tr>
							<th scope="row">PROTEÍNA2</th>
							<td>TORTA DE FRANGO</td> 
						</tr>
						<tr>
							<th scope="row">PROTEÍNA3</th>
							<td>CARNE MOÍDA DE SOJA</td> 
						</tr>
						<tr>
							<th scope="row">SOBREMESA</th>
							<td>DOCE DE LEITE</td> 
						</tr>
						<tr>
							<th scope="row">SUCO</th>
							<td>GOIABA</td> 
						</tr>
					</tbody> 
				</table> 
			</div>


      </div> 
      <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab"> 
      <p class='text-center'><i>obs: O RU está em acordo com a reitoria para saber se haverá jantar</i></p>
        <div class="container custom" data-example-id="striped-table"> 
				<table class="table table-striped"> 
					<thead> 
						<tr> 
							<th></th>
							<th>Segunda-Feira - 21/03/2016</th>
						</tr> 
					</thead> 
					<tbody> 
						<tr> 
							<th scope="row">SOPA</th> 
							<td>SOPA DE LENTILHA</td> 
							
						</tr>   
						<tr> 
							<th scope="row">ACOMPANHAMENTO1</th> 
							<td>ARROZ BRANCO</td> 							
						</tr>
						<tr>
							<th scope="row">ACOMPANHAMENTO2</th>
							 <td>FEIJÃO PRETO</td>
						</tr> 
						<tr>
							<th scope="row">ACOMPANHAMENTO3</th>
							<td>ARROZ INTEGRAL</td> 
						</tr> 
						<tr>
							<th scope="row">GUARNIÇÃO</th>
							<td>FAROFÁ</td> 
						</tr> 
						<tr>
							<th scope="row">PROTEÍNA1</th>
							<td>COSTELA COM BATATA</td> 
						</tr> 
						<tr>
							<th scope="row">PROTEÍNA2</th>
							<td>OMELETE</td> 
						</tr> 
						<tr>
							<th scope="row">SOBREMESA</th>
							<td>BANANA</td> 
						</tr>
						<tr>
							<th scope="row">SUCO</th>
							<td>ABACAXI</td> 
						</tr>
					</tbody> 
				</table> 
			</div>




      </div>


  </div>
 </div>

