<div class="container space-top">
       
<%= render 'layouts/navday' %>

<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs"> 
  <ul id="myTabs" class="nav nav-tabs" role="tablist"> 
    <li role="presentation" class="active">
      <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">ALMOÇO</a>
    </li> 
    <li role="presentation" class="">
      <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">JANTAR</a>
      </li>  
   </ul> 
     <div id="myTabContent" class="tab-content"> 
       <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab"> 

		<p class="text-center"><i>obs: atualizado[09:30]</i></p>
        <div class="container custom" data-example-id="striped-table"> 
				<table class="table table-striped"> 
					<thead> 
						<tr> 
							<th></th>
							<th>Quarta-Feira - 23/03/2016</th>
						</tr> 
					</thead> 
					<tbody> 
						<tr> 
							<th scope="row">SALADA 1</th> 
							<td>SALADA DE FOLHAS</td> 
							
						</tr> 
						<tr> 
							
							<th scope="row">SALADA 2</th>  
							<td>LENTILHA</td> 
							 
						</tr> 
						<tr> 
							<th scope="row">ACOMPANHAMENTO 1</th> 
							<td>ARROZ BRANCO</td> 							
						</tr>
						<tr>
							<th scope="row">ACOMPANHAMENTO 2</th>
							 <td>FEIJÃO PRETO</td>
						</tr> 
						<tr>
							<th scope="row">ACOMPANHAMENTO 3</th>
							<td>ARROZ INTEGRAL</td> 
						</tr> 
						<tr>
							<th scope="row">GUARNIÇÃO</th>
							<td>POLENTA</td> 
						</tr> 
						<tr>
							<th scope="row">PROTEÍNA 1</th>
							<td>BIFE SUÍNO</td> 
						</tr> 
						<tr>
							<th scope="row">PROTEÍNA 2</th>
							<td>COXA E SOBRECOXA</td> 
						</tr>
						<tr>
							<th scope="row">PROTEÍNA 3</th>
							<td>CHUCHU COM OVOS</td> 
						</tr>
						<tr>
							<th scope="row">SOBREMESA</th>
							<td>DOCE DE BANANA</td> 
						</tr>
						<tr>
							<th scope="row">SUCO</th>
							<td>MARACUJÁ</td> 
						</tr>
					</tbody> 
				</table> 
			</div>


      </div> 
      <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab"> 
 

      	<p class="text-center"><i>obs: atualizado [17:10]</i></p>
        <div class="container custom" data-example-id="striped-table"> 
				<table class="table table-striped"> 
					<thead> 
						<tr> 
							<th></th>
							<th>Quarta-Feira - 23/03/2016</th>
						</tr> 
					</thead> 
					<tbody> 
						<tr> 
							<th scope="row">SOPA</th> 
							<td>SOPA DE LEGUMES COM MACARRÃO</td> 							
						</tr>   
						<tr> 
							<th scope="row">ACOMPANHAMENTO 1</th> 
							<td>ARROZ BRANCO</td> 							
						</tr>
						<tr>
							<th scope="row">ACOMPANHAMENTO 2</th>
							 <td>FEIJÃO PRETO</td>
						</tr> 
						<tr>
							<th scope="row">ACOMPANHAMENTO 3</th>
							<td>ARROZ INTEGRAL</td> 
						</tr> 
						<tr>
							<th scope="row">GUARNIÇÃO</th>
							<td>FAROFA</td> 
						</tr> 
						<tr>
							<th scope="row">PROTEÍNA 1</th>
							<td>FILÉ DE FRANGO A MILANESA</td> 
						</tr> 
						<tr>
							<th scope="row">PROTEÍNA 2</th>
							<td>CARNE MOIDA DE SOJA</td> 
						</tr> 
						<tr>
							<th scope="row">SOBREMESA</th>
							<td>LARANJA</td> 
						</tr>
						<tr>
							<th scope="row">SUCO</th>
							<td>MARACUJA</td> 
						</tr>
					</tbody> 
				</table> 
			</div>




      </div>


  </div>
 </div>
</div>
