@media screen and (min-width: 740px){
	.responsive-nav{
		display: none;
	}
}
@media screen and (max-width: 740px){
	.desktop-nav{
		display: none;
	}
}

.desktop-nav{
	min-width: 460px;
}
.nav-menu{
	margin-top: -5px;
	border-radius: 2px;
	padding: 2px 30px;
	background-color: #286090;
}

#nav-drop-menu{
	border-radius: 0;
	margin-left: -30px;
	width: 40px;
}

#nav-drop-menu a{
	width: 160px;
	padding: 10px 10px 10px 10px;
	box-sizing: border-box;
}

#nav-drop-menu a:hover{
	color: #fff;
	background-color: #204d74;
}

.select-day{
	width: 60%; 
	border-radius: 0px;		
	box-sizing: border-box;
	margin-left: 20%;
}

button.select-day{
	position: relative;
	margin-bottom: 15px;
}

.dropdown > button > span{
	float: right;
	position: absolute;
	right: 10px;
	top: 10px;
}

.btn-wrapper{
	float: left;
	width: 50%;
	align-content: center;
}

.btn-warning{
	float: right;
}

.control-btn{
	border-radius: 0;
	width: 50%;
	align-self: center;

}