// NAVBAR
.navmenu-default, .navbar-default .navbar-offcanvas {
	background-color: #282828;
}

.navmenu-nav li.active a i {
	border: 2px solid #a6a6a6;
	border-radius: 100%;
	height: 40px;
	width: 40px;
	text-align: center;
	color: white;
	line-height: 36px;
	margin-right: 5px;
	font-size: 16px;
	color: #a6a6a6;
}

.navmenu-nav li.active a {
	color: #a6a6a6 !important;
	background-color: transparent !important;
}

.navmenu-nav li a i {
	border: 2px solid white;
	border-radius: 100%;
	height: 40px;
	width: 40px;
	text-align: center;
	color: white;
	line-height: 36px;
	margin-right: 5px;
	font-size: 16px;
}

.navmenu-nav li a {
	color: white !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: initial; 	
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;

}

.navbar-toggle{
	display:block;
	float:left;
	border:none;
	padding:0;
	margin:15px 0 0 15px;
}

.navbar-brand{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
	margin: auto;
	float: initial;
	padding: 0;
	line-height: 0px;
	height: 0px;
	z-index: 5;
}

.navbar-brand > img {
	height: 80px; 
	display: inline-block;
}

.button-nav {
	font-size: 36px;
	color: #cccccc;
	margin: 4px;
}

.button-nav-identifier{
	position: relative;
	top: -17px;
	left: 30px;
}

.header-logo{
	margin:5px 0 5px 15px;
	width: 3em;
}

.navbar-default {
	background-color: white;
}

.clear{
	clear: both;
	margin-top: 1em;
	margin-bottom: 1em
}


.space-top{
	margin-top: 5em;
}


.navmenu, .navbar-offcanvas{
	width: 190px;
}

.custom{
	width: 90%;
}

table tr {
	font-size: 12px;
}

#side-menu img.center-block{width:3em;margin-top:10px;}

.nav-tabs > li, .nav-pills > li {
    float:left;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
     width: 50%;
}

.nav-tabs > li > a{
	border-radius: 0;
	margin-right:0;
}

.nav-tabs > li.active > a{
	border-width: 0 0 3px 0	;
	border-bottom-color:  #31708f;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	border-bottom-width:3px;
	border-bottom-color:#31708f;
	border-top:0;
	cursor:pointer;
} 

.nav-tabs, .nav-pills {
    text-align:center;
}

.copy{
	color: white;
	font-size: 10px;
}

.tab-content>.active { 
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}


.nav-tabs {
    border: 1px solid #ddd;
}

.btn-login{
	float: left;
}

footer {
    background: #E4E4E4;
    text-align: center;
    font-size: 15px;
    color: #858585;
    width: 100%;
    height: 80px;
    position: static;
    bottom: 0px;
}

.main-content{
	padding-bottom: 80px;
}

// MODAL

.b-login{position:absolute;top:8px;right:15px;font-size:16px;padding:5px 11px;margin:0;}

.modal-header{border:0;}
.modal-header img, .form-control{display:table;margin:auto;}
.modal-header img{margin-top:20px;}

.modal-body .form-group{position:relative;}
.modal-body .form-group .form-control{color:#000;}
.modal-body .form-control{width:auto;padding-left:32px;}

.modal-body .form-group{display:table;margin-left:auto;margin-right:auto;}
.modal-body .form-group input[type=checkbox]{float:left;margin:0 5px 0 0;}
.modal-body .form-group i{position:absolute;top:10px;left:12px;}

.modal-body .form-control[type=submit]{width:auto;background-color:#4ac5f4;border:none;padding:6px 12px;}
.modal-body .form-group{text-align:center;}
.modal-body .render{text-align:center;margin-top:15px;}
.modal-body .render > a{margin:0 5px;display:inline-block;}
.modal-body .render > a:hover{background-color:#fff;text-decoration:none;}
.modal-body .render > br{display:none;}

//CADASTRO
.container.cont.form-container{border:1px solid #ddd;}
form.new_lunch .btn.btn-danger.form-control{margin-bottom:5px;}
.container.cont.form-container .text-center{padding:15px 0;margin-bottom:15px;overflow:hidden;}
.container.cont.form-container .text-center button{width:50%;float:left;border-radius:0;}

//SELECT
.select-day{appearance:none;-webkit-appearance:none;-moz-appearance:none;text-indent:0.01px;-webkit-text-indent:0.01px;-moz-text-indent:0.01px;text-overflow:"";-webkit-text-overflow:"";-moz-text-overflow:"";background:#337ab7 url("seta.gif") no-repeat scroll right 12px top 13px;select::-ms-expand{display: none;}}
.select-day:focus{background:#286090 url('seta-hover.gif') no-repeat right 12px top 13px;}
.select-day:hover{background:#286090 url('seta-hover.gif') no-repeat right 12px top 13px;}
.select-day::-ms-expand { display: none; }/* Remove seta padrão do IE*/