@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
.table td {
	font-family: 'Open Sans', sans-serif; 
	padding: 10px;
}


header {
	color: white;
	  background: #282727;
}

footer
{  
  background: #282727;
	img {
	  display: block;
  margin-left: auto;
  margin-right: auto;
  }
}

