<table class="table table-striped custab">
    <thead>
    
        <tr>
            <th>Date</th> 
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>

        <% @dinners.each do |dinner| %>
            <tr>
                <td><%= link_to dinner.date, dinner %></td> 
                <td class="text-center">
                <%= link_to '<span class="glyphicon glyphicon-edit"></span> Edit'.html_safe, edit_dinner_path(dinner), :class => "btn btn-info btn-xs" %>
                <%= link_to '<span class="glyphicon glyphicon-remove"></span>Delete'.html_safe, dinner_path(dinner) , method: :delete ,data: { confirm: "Are you sure you want to delete this dinner?"}, class: "btn btn-danger btn-xs" %>
                </td>
            </tr>
          <% end %>

    </tbody>
</table>
<%= link_to '+ New Dinner', new_dinner_path, class: "btn btn-primary btn-xs pull-right" %>