<footer>
      <a href="http://site.soulcodejr.com" target="_blank"><%= image_tag "sclogo.png", alt: "Logo da Soul Code", class: "img-responsive" %></a>
      <small>Todos os direitos reservados à Soul Code</small>
</footer>